<h2>Notas App</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <td><input type="text" id="newNotas" />
                <button class="btn btn-primary" (click)="addNotas()">Add</button>
            </td>
        </tr>
    </thead>
    <tbody>
        @for (nota of notas; track notas) {
        <tr>
            <td>{{nota.descripcion}}</td>
            <td><button class="btn btn-danger" (click)="deleteNotas(nota.id)">Delete Notes</button></td>
        </tr>
        }
    </tbody>
</table>