<div class="footer-container">
    <footer class="bg-dark text-white p-5 mt-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Acerca de Mi</h5>
                    <p>Soy un alumno de DAW que ha realizado este proyecto para la asignatura de Desarrollo Web Entorno
                        Cliente.</p>
                </div>
                <div class="col-md-4 social-links">
                    <h5>Redes sociales</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa-brands fa-facebook-f fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa-brands fa-x-twitter fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa-brands fa-linkedin fa-2x"></i> </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="copyright">All rights reserved.</div>
                    <div class="copyright">Licensed under CC BY 4.0 (Creative Commons Attribution).</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="small">Copyright &copy; 2024 - NEXGEN ANGULAR</p>
                </div>
            </div>
        </div>
    </footer>
</div>