:host {
    display: block;
    grid-area: content;
    padding: 10px;
    text-align: center;
}

h1 {
    color: #ff9d00;
    /* Naranja Bootstrap */
    font-size: 1.9em;
}

.lead {
    color: #004bd5;
    /* azul Bootstrap */
}

.visit-counter {
    background-color: #ffc107;
    /* Amarillo Bootstrap */
    border: 2px solid #007bff;
    /* Borde azul */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 5px;
    /* Espaciado interno */
    font-size: 15px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Negrita */
}