<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4">Akira Toriyama: El maestro del manga que marcó una generación con Dragon Ball
            </h1>
            <img src="https://www.lavoz.com.ar/resizer/UUzJqHzDqK-sfbEhBZdDdtZKSOM=/980x640/smart/filters:quality(75):format(webp)/cloudfront-us-east-1.images.arcpublishing.com/grupoclarin/XSPCHXX7MZD2ZCZWQ2BZS5RY5E.jpg"
                alt="Akira Toriyama" class="img-fluid mb-4" width="200">
            <p class="lead">Dragon Ball no solo fue un anime, fue un refugio, un escape, una fuente de sueños y valores
                para muchos.</p>
            <iframe src="../assets/dragonball.mp4" width="300" height="400"
                frameborder="0" scrolling="no" allowfullscreen="allowfullscreen" title="Akira Toriyama"></iframe>
        </div>
    </div>
</div>